{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <div>
                    <h2>Infos Pratiques</h2>
                    <p>Située au nord-est de l'Essonne, Montgeron est une ville accueillante et agreable qui concilie la proximité avec Paris et un cadre priviligié, avec le massif forestier de Sénart et la Pelouse, superbe ancienne alleé royale arborée.</p>
                    <p>Le Confort Hotel Montgeron dispose d'une reception ouverte 24h/24h et 7j/7j, d'un servive de chambre et d'une conciergerie.</p>
                    <p>L'etablissement posséde egalement un salon pour vos seminaires ou rende-vous professionel</p>
                </div>
                <div id="equipe">
                    <h2>Equipements</h2>
                    <ul>
                        <li>Parking gratuit</li>
                        <li>Animaux domestiques autorisés</li>
                        <li>Internet haut débit gratuit (Wi-Fi)</li>
                        <li>Centre d'affaires avec accés internet</li>
                        <li>Concierge</li>
                        <li>Reception 24h/24h</li>
                        <li>Stockage des bagages</li>
                        <li>Cuisine commune</li>
                        <li>Arrivéé/Départ express</li>
                        <li>Wi-Fi</li>
                    
                </div>
    
    
            </section>
    
            <div id="map">
                <h3>Emplacement</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2218.8537074131286!2d2.4380701896594177!3d48.714084818591715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6754a0d3ca41f%3A0x7b64c982a01cdd2a!2s406%20Rue%20Du%20Bac%20D&#39;Ablon%2C%2091230%20Montgeron!5e0!3m2!1sfr!2sfr!4v1617833457283!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            

{% endblock %}



