<header>
	<h1>Confort Hotel Montgeron</h1>
	<nav>

		<ul id="Accueil">
			<li>
				<a href="#">Accueil</a>
			</li>
			<li>
				<a href="#">Chambres et Tarifs</a>
			</li>
			<li>
				<a href="#">Restaurant</a>
			</li>
			<li>
				<a href="#">Seminaire</a>
			</li>
			<li>
				<a href="#">Services</a>
			</li>
			<li>
				<a href="#">Offres</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>
	</nav>
</header>
